.breadcrumbs
  %ol.breadcrumb
    %li.active
      = "Superviseur"

.main
  .row
    .col-md-12
      .tile
        .tile-header
          %h1 Statistiques globales
        .tile-body
          .row
            .col-md-3
              .panel.panel-cyan
                .panel-heading
                  %h3.panel-title Nouveaux tickets
                .panel-body
                  %h3.text-center= Ticket.where(aasm_state: "new").count
            .col-md-3
              .panel.panel-orange
                .panel-heading
                  %h3.panel-title Tickets ouverts
                .panel-body
                  %h3.text-center= Ticket.open.count
            .col-md-3
              .panel.panel-orange
                .panel-heading
                  %h3.panel-title Tickets en attente
                .panel-body
                  %h3.text-center= Ticket.pending.count
            .col-md-3
              .panel.panel-green
                .panel-heading
                  %h3.panel-title Tickets résolus
                .panel-body
                  %h3.text-center= Ticket.solved.count
  .row
    .col-md-12
      .tile
        .tile-header
          %h1 Liste des tickets
        .tile-body
          .row
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th.col-md-4 Numéro et titre
                  %th Urgence
                  %th Statut
                  %th.col-md-2 Créé le
                  %th.col-md-2 Ouvert le
                  %th.col-md-2 Résolu le
              %tbody
                = render partial: "supervisor_ticket", collection: @tickets, as: :ticket
