= form_for :session, :url => session_path, html: {id: "form-signin", class: "form-signin"} do |form|
  %section
    .input-group
      = form.text_field :email, :type => 'email', placeholder: t("users.fields.email"), class: "form-control"
      .input-group-addon
        %i.fa.fa-user
    .input-group
      = form.password_field :password, placeholder: t("users.fields.password"), class: "form-control"
      .input-group-addon
        %i.fa.fa-key
  %section.new-acc
    = form.submit t("users.sign_in"), class: "btn btn-greensea"
  %section.controls
    = link_to t('users.forgot_password'), new_password_path, class: "pull-right"
