= form.hidden_field :status_id, value: @ticket.status_id.nil? ? 1 : @ticket.status_id
= form.hidden_field :is_invalid, value: @ticket.is_invalid.nil? ? false : @ticket.is_invalid

.form-group
  =label_tag nil, t("tickets.fields.status"), class: "col-sm-2 control-label"
  .col-sm-8
    = text_field_tag nil, @ticket.status_id.nil? ? t("statuses.values.new") : t("statuses.values.#{@ticket.status.title}"), class: "form-control", disabled: true

= form.hidden_field :stupid, value: @ticket.stupid.nil? ? false : @ticket.stupid