%tr
  %td= ticket.id
  %td
    - if ticket.stupid?
      %i.icon-beer
  %td= ticket.author.try(:name)
  %td= l(ticket.created_at.utc, format: "%d %B %Y, %H:%M")
  %td= t("categories.values.#{ticket.category.try(:title)}")
  %td= link_to ticket.title, ticket_path(ticket)
  %td= ticket.aasm.human_state
  %td{style: "color: ##{ticket.emergency.try(:color)}"}= t("emergencies.values.#{ticket.emergency.try(:title)}")