%tr
  %td= t("tickets.ticket_number")
  %td= t("tickets.treated_by")
  %td= t("tickets.date")
  %td= t("tickets.category")
  %td= t("tickets.title")
  %td= t("tickets.status")
  %td= t("tickets.emergency")
  %td= t("common.actions")