%h1= t("tickets.tickets")

%table.ink-table.alternating.bordered
  %thead
    %tr
      %th= t("tickets.fields.ticket_number")
      %th= t("tickets.fields.treated_by")
      %th= t("tickets.fields.date")
      %th= t("tickets.fields.category")
      %th= t("tickets.fields.title")
      %th= t("tickets.fields.status")
      %th= t("tickets.fields.emergency")
      %th= t("common.actions")
  %tbody
    = render partial: "ticket_line", collection: @tickets, as: :ticket