= content_for :contextual_navigation do
  = render partial: "tickets/navigations/show"

.breadcrumbs
  %ol.breadcrumb
    %li= link_to t("tickets.my_tickets"), tickets_path(filter: @ticket.status.title)
    %li.active
      = "[##{@ticket.id}] #{@ticket.title}"

.main
  .row
    .col-md-12
      .tile.cornered
        .tile-header
          %h1= t("tickets.general_information")
        .tile-body
          .row
            .col-md-6
              %ul.list-group
                %li.list-group-item
                  %strong
                    = t("tickets.fields.emergency")
                    \:
                  %span{style: "color: ##{@ticket.emergency.color};"}= t("emergencies.values.#{@ticket.emergency.title}")
                %li.list-group-item
                  %strong
                    = t("tickets.fields.category")
                    \:
                  = t("categories.values.#{@ticket.category.title}") 
                %li.list-group-item
                  %strong
                    = t("tickets.fields.status")
                    \:
                  = t("statuses.values.#{@ticket.status.title}")
                  
            .col-md-6
              %ul.list-group
                %li.list-group-item
                  %strong
                    = t("tickets.fields.date")
                    \:
                  = l(@ticket.created_at, format: "%d %B %Y, %H:%M")
                %li.list-group-item
                  %strong
                    = t("tickets.fields.treatment_date")
                    \:
                  = l(@ticket.treatment_date, format: "%d %B %Y, %H:%M") unless @ticket.treatment_date.nil?
                %li.list-group-item
                  %strong
                    = t("tickets.fields.end_treatment_date")
                    \:
                  = l(@ticket.end_treatment_date, format: "%d %B %Y, %H:%M") unless @ticket.end_treatment_date.nil?
            
          .row
            .col-md-12
              .panel.panel-default
                .panel-heading
                  %h3.panel-title= t("tickets.fields.description")
                .panel-body
                  %p= simple_format @ticket.description
  .row
    .col-md-6
      .tile.cornered
        .tile-header
          %h1= t("tickets.messages")
        .tile-body
          %table.table.table-striped.table-bordered
            %thead
              %th.col-md-3= t("common.date")
              %th.col-md-3= t("messages.fields.from")
              %th= t("messages.fields.title")
            %tbody
              = render partial: "messages/message_view", collection: @ticket.messages.order("created_at ASC"), as: :message
          = render partial: "messages/message", collection: @ticket.messages.order("created_at ASC"), as: :message
          
    .col-md-6
      .tile.cornered
        .tile-header
          %h1= t("tickets.attachments")
        .tile-body
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th= t("attachments.fields.filename")
                %th.col-md-2= t("attachments.fields.size")
                %th.col-md-3= t("attachments.fields.date")
                %th.col-md-1= t("common.actions")
            %tbody
              = render partial: "attachments/attachment_line", collection: @ticket.attachments, as: :attachment

    