.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .navbar-header.col-md-2
    = link_to root_path, class: "navbar-brand" do
      %strong TICKET
      %span.divider.vertical
      MANAGER
  %ul.nav.navbar-nav
    - if current_user.is_tech?
      = render partial: "shared/minoral/tech_navigation"
    - else
      = render partial: "shared/minoral/user_navigation"
    = render partial: "shared/minoral/supervisor_navigation" if (current_user.is_tech? or current_user.is_supervisor?)
  .user-controls
    %ul
      %li.dropdown
        = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
          %i.fa.fa-caret-down
          = current_user.name
        .profile-photo
          = image_tag "images/arnold-avatar.jpg"
        %ul.dropdown-menu.wide.arrow.green.nopadding
          %li= link_to t("users.sign_out"), sign_out_path, :method => :delete
  %ul#navigation.nav.navbar-nav.side-nav
        