.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .navbar-header.col-md-2
    = link_to root_path, class: "navbar-brand" do
      %strong TICKET
      %span.divider.vertical
      MANAGER
  %ul.nav.navbar-nav
    - if current_user.is_tech?
      = render partial: "shared/minoral/tech_navigation"
    - else
      = render partial: "shared/minoral/user_navigation"
    = render partial: "shared/minoral/supervisor_navigation" if (current_user.is_tech? or current_user.is_supervisor?)
  %ul#navigation.nav.navbar-nav.side-nav
    %li#user-status.user-status.status-online
      .profile-photo
        = image_tag("images/user.png")
      .user
        = current_user.name
        %span.role= t("user.role.#{current_user.role}")
    = yield :contextual_navigation
    %li
      = link_to sign_out_path, method: :delete do
        %i.fa.fa-sign-out
          %span.overlay-label.red
        = t("users.sign_out")
        