!!! 5
%html
  %head
    %title Tickets
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .ink-grid
      .column-group
        .large-100
          = render partial: "shared/main_nav"

          #flash
            - flash.each do |key, value|
              %div{class: "flash #{key}"}= value
          = yield

